@media (min-width: 681px) {

    .row{
        width: 90%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        
        .col-6{
            grid-row: 1 / 2;
            width: 100%;
            // background-color: blue;
            // margin-right: 10px;
        }
        .col-12{
            grid-row: 1 / 1;
            width: 100%;
        }
    }

    .Content{
        position: relative;
        display: flex;
        justify-content: center;
        height: inherit;
        width: 90vw;
        margin : 0px 50px 100px 50px;
        margin-top: 850px;
        // margin: 0 auto;
        
        // background-color: rgb(221, 221, 220);

        .Card.active{
            animation: slide-up 1s  0.6s forwards;
            animation-delay: .5s;

        }
        .Card{
            
            // height: 50vh;
            height: inherit;
            width: 100%;
            // padding: 20px 50px 50px 50px;
            padding-top: 50px;
            padding-bottom: 50px;
            background-color: transparent;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            visibility: hidden;
            // animation: slide-up 1s  0.6s forwards;
            


            .Card-Header{
                display: flex;
                justify-content: center;
                margin-top:10px;
                padding: 0px 0px 40px 0px;
                border-bottom: 2px solid rgb(124, 123, 123);
                margin-bottom: 1em;

                .Card-Title{
                    font-family:"Source Sans Pro","-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue","Arial","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
                    font-style:normal;
                    font-weight: 400;
                }
            }

            .Card-Body{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 70%;
                // background-color: black;
            }
            .Card-Body p{
                text-align:center;
                text-justify: inter-word;
                font-size: 1.5em;

                
                img{
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    border-radius: 10%;
                    margin: 10px 10px 10px 10px;
                    height: 20vh;
                    width: 30vh;
                }
            }
        }
    }

}

@media (max-width : 680px) {
    .Content{
        position: relative;
        height: inherit;
        width: 100vw;
        background-color: rgb(221, 221, 220);
        padding: 200px 0px 0px 0px;
        display: flex;
        justify-content: center;

        .Card{
            
            height: inherit;
            width: 70vw;
            padding: 50px 20px 50px 20px;


            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        
            animation: slide-up 1s 0.6s forwards;
            margin-bottom: 70px;
            .Card-Header{
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 2px solid black;
                margin-bottom: 20px;
            }
            .Card-Body{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 70%;
                // background-color: black;
            }
            .Card-Body p{
                font-family: 'Courier New', Courier, monospace;
                font-size: 1.5em;
                text-align:center;
                img{
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    height: 11.5vh;
                    width: 11.5vh;
                    margin: 10px 10px 10px 10px;
                }
            }
        }
    }
}
